.loader {
    animation: rotation 1s linear infinite;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    width: 60px;
}
