$errorColor:#dc3545;

.mb-3 {
    border-radius: 15px;
    margin-bottom: 0.8rem !important;
    position: relative;
}


.formbuilder {
    display: flex;
    height: auto;
    justify-content: center;
    padding: 5% 0%;
    width: 100%;

    &__form {
        color: rgb(77 77 77);
        max-width: 400px;
        width: 100%;
        &__group{
            margin-bottom: 20px;
            .form-label {
                background: rgb(243 242 245);
                margin-bottom: 0.5rem;
                margin-left: 15px;
                margin-top: -43px;
                padding: 2px 5px;
                position: absolute;
                pointer-events: none;
                color: rgba(0,0,0,0.25);
                text-transform: uppercase;
                transition: 0.5s;
                font-size: 1rem;
            }
        
            .form-label.disabled {
                background-color: rgb(243 242 245);
            }
        
            .form-control {
                appearance: none;
                background-clip: padding-box;
                background-color: rgb(243 242 245);
                border: 1px solid rgb(196 195 197);
                border-radius: 10px;
                display: block;
                font-weight: 400;
                height: 45px;
                line-height: 1.5;
                min-width: 100px;
                padding: 0 30px;
                transition:
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
                width: 100%;
            }

            .form-control.invalid {
                background-position: right calc(0.375em + 0.1875rem) center;
                background-repeat: no-repeat;
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
                border: 2px solid $errorColor !important;
                padding-right: calc(1.5em + 0.75rem);
            }
            .form-control.invalid:focus  + label.form-label{
                background-color: $errorColor;
            }
        
            .form-control-color {
                padding: 15px !important;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 5%;
            .btn {
                border-radius: 8px !important;
                height: 30px !important;
                width: 100%;
                margin: 0 5px;
                border: 1px solid #c4c3c5;
                cursor: pointer;
                &:hover{
                    background-color: #c4c3c5;
                }
            }
        }
    }

    .invalid-feedback {
        color: #dc3545;
        margin-top: 0.25rem;
        width: 100%;
    }

    .noshowelement {
        display: none;
    }
}

.ant-btn {
    align-items: center !important;
    text-align: center !important;
}

.formbuilder__form__group input:valid  + label.form-label,
.formbuilder__form__group input:focus + label.form-label,
.formbuilder__form__group.disabled > label,
input:-internal-autofill-selected + label.form-label{
    transform: translateX(10px) translateY(-18px);
    font-size: 0.80rem;
    letter-spacing: 0.2em;
    
}
.formbuilder__form__group input:valid,
.formbuilder__form__group input:focus{
    outline: none;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch_wrapper{
    width: 100%;
    display: flex;
    > label{
        margin-right: 10px;
    }
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  